.network {
  background-color: white;
  width: 78.75vw;
  height: 9.35vh;
  margin-left: 1.45vw;
  margin-top: 2.6vh;
  border-radius: 20px;
}

.node {
  background-color: white;
  margin-left: 1.45vw;
  margin-top: 2.6vh;
  width: 47.39vw;
  height: 72.31vh;
  border-radius: 1.85vh;
}

.virtual-ips {
  background-color: white;
  width: 29.89vw;
  height: 72.31vh;
  margin-left: 1.45vw;
  margin-top: 2.6vh;
  border-radius: 20px;
}

.network-definition {
  background-color: white;
  width: 48.91vw;
  height: 3.7vh;
  margin-left: 1.19vw;
}

#network-definition-form {
  height: 100%;
}

.network-definition-title {
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  text-align: center;
}

.network-definition-subnetmask {
  width: 17.81vw;
  height: 3.7vh;
}

.network-definition-gateway {
  width: 16.2vw;
  height: 3.7vh;
}

.network-definition-subnetmask span,
.network-definition-gateway span {
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

.network-definition-button {
  margin-left: 19.9vw;
}

.virtual-ips-title {
  width: 11.98vw;
  height: 2.22vh;
  margin-top: 3.7vh;
  margin-left: 1.35vw;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.virtual-ips-content {
  width: 27.083vw;
  height: 6.29vh;
  margin-left: 1.46vw;
  margin-top: 2.22vh;
  border-radius: 0.65vh;
}

.virtual-ips-main-title {
  color: #1a4348;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-left: 0vw;
  margin-top: 0.64vh;
}

.virtual-ips-sub-title {
  color: #1f666e;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
  margin-left: 0vw;
  margin-bottom: 0vh;
}

.virtual-ips-boxes {
  width: 12.03vw;
  height: 3.7vh;
}

.virtual-ips-save-button {
  margin-top: 33.88vh;
  margin-left: 21.15vw;
}

.node-properties {
  width: 44.61vw;
  height: 9.91vh;
  margin-left: 1.2vw;
  margin-top: 3.15vh;
  display: flex;
}

.add-node-title {
  width: 9.17vw;
  height: 2.22vh;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-top: 0.5vh;
}

.node-name {
  width: 13.65vw;
  height: 3.7vh;
  margin-left: 3.63vw;
  margin-right: 0;
}

.node-ip {
  width: 16.921vw;
  height: 3.7vh;
  margin-left: 3.23vw;
}

.node-name span,
.node-ip span,
.node-type span {
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

.node-type {
  width: 23.1vw;
  height: 2.04vh;
  margin-left: 12.2vw;
  margin-top: 3.24vh;
}

.add-node-button {
  width: 5.73vw;
  height: 3.7vh;
  margin-left: 3.96vw;
  margin-top: 2.5vh;
  border-radius: 0.65vh;
  background-color: #68d5b0;
  border-style: none;
  color: white;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

.node-type-core-checkbox {
  width: 3.19vw;
  height: 2.04vh;
}

.node-type-rtp-proxy-checkbox {
  width: 5.12vw;
  height: 2.04vh;
}

.node-type-pcscf-checkbox {
  width: 4.13vw;
  height: 2.04vh;
}

.node-table {
  width: 42.99vw;
  height: 20.51vh;
  margin-top: 8.56vh;
  margin-left: 2.81vw;
}

.node-table-title {
  width: 14.24vw;
  height: 4.25vh;
  border: solid;
  background-color: #1f666e;
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  cursor: pointer;
}

.node-table-title span {
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  color: white;
  margin-left: 2.4vw;
}

#node-table-contents {
  height: 2.77vh;
  width: 42.66vw;
}

.node-table-content {
  width: 42.66vw;
  height: 2.77vh;
  border-bottom: 0.046vh solid #dfdfdf;
}

.node-table-content-name {
  width: 3.64vw;
  height: 1.85vh;
  margin-left: 2.32vw;
}

.node-table-content-ip {
  width: 4.68vw;
  height: 1.85vh;
  margin-left: 6.61vw;
}

.node-table-content-status {
  width: 4.37vw;
  height: 1.57vh;
  margin-left: 6.61vw;
}

input.node-table-content-status,
input.node-table-content-ip,
input.node-table-content-name {
  color: #1a4348;
  font-size: 1.2vh;
  font-family: "FiraGO", sans-serif;
  border-radius: 0.277vh;
}

.save-node-button {
  margin-left: 38.54vw;
  margin-top: 23.24vh;
}

.tick,
.close {
  display: none;
}

/* //////////////////////// modal styles /////////////////////////////////////////*/

#node-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 47.39vw;
  height: 72.31vh;
  right: 36.04vw;
  top: 20.46vh;
  border-radius: 1.85vh;
  overflow: auto;
  background-color: rgba(31, 102, 110, 0.22);
  color: white;
}

.node-modal-content {
  width: 21.56vw;
  height: 19.44vh;
  border-radius: 1.85vh;
  background-color: #1a4348;
  opacity: 80%;
}

.node-modal-buttons {
  width: 12.5vw;
  height: 3.148vh;
  margin-bottom: 3.88vh;
}

.node-modal-button {
  width: 5vw;
  height: 3.148vh;
  top: 0vh;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
  color: white;
  background-color: #ff8888;
  border-radius: 0.92vh;
  border: none;
}

#node-modal-cancel-button {
  background-color: black;
}

.node-modal-title {
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  text-align: center;
  width: 100%;
}

.node-modal-question {
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  text-align: center;
}

.node-modal-close {
  color: #a6d4c4;
  font-size: 28px;
  text-align: end;
  width: 100%;
  margin-right: 1.32vw;
  margin-bottom: 0;
  height: 1.27vh;
  cursor: pointer;
}
