/* .total-information-body-class {
  width: 78.75vw;
  height: 84.26vh;
  right: 4.68vw;
  top: 8.52vh;
  position: absolute;
  background-color: white;
  border-radius: 1.85vh;
} */

.main-content {
  width: 78.75vw;
  height: 84.25vh;
  border: 1px solid blue;
  background-color: white;
}

.general-class {
  width: 36.82vw;
  height: 12.68vh;
  margin-left: 2.083vw;
  margin-top: 3.7vh;
  border: 0.092vh solid #d5e8e1;
  /* position: absolute; */
  border-radius: 0.83vh;
}

.general-class-content {
  border: 0.092vh solid red;
  width: 34.48vw;
  height: 8.42vh;
  margin-left: 1.3vw;
  margin-top: 1.75vh;
  border-radius: 0.83vh;
}

.general-class-content-field1 {
  border: 0.092vh solid red;
  width: 29.06vw;
  height: 3.7vh;
  margin-left: 3.88vw;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.general-class-content-title {
  margin-top: 0.98vh;
  margin-left: 0;
  width: 3.17vw;
  height: 2.22vh;
  text-align: center;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  /* position: absolute; */
}

.general-class-content-field1-box {
  width: 21.125vw;
  height: 3.7vh;
  /* right: 0vw;
  top: 0vh; */
  background-color: #eef5f2;
  border-radius: 0.64vh;
}

label,
span,
p {
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

input.general-class-content-field1-box {
  border: none;
}

input[type="text"] {
  text-align: center;
  color: #2fbc8c;
  border: none;
}

.general-class-content-field2 {
  /* width: 28.92vw; */
  /* width: 29.06vw; */
  height: 2.037vh;
  border: 1px solid red;
  margin-top: 2.66vh;
  margin-left: 5.57vw;
}

.general-class-content-field2-checkbox {
  height: 2.04vh;
  width: 4vw;
  border: 1px solid black;
  /* margin-left: 10px; */
}

/* .general-class-content-field2-checkbox2 {
  width: 4.082vw;
  height: 2.04vh;
  border: 1px solid black;
}

.general-class-content-field2-checkbox3 {
  width: 4.082vw;
  height: 2.04vh;
  border: 1px solid black;
} */

.P-CSCF-class {
  width: 36.82vw;
  height: 61.57vh;
  margin-left: 2.083vw;
  margin-top: 2.6vh;
  /* bottom: 3.7vh; */
  /* border: 0.092vh solid #d5e8e1; */
  border: 0.092vh solid red;
  /* position: absolute; */
  border-radius: 0.83vh;
}

.P-CSCF-class-content {
  border: 0.092vh solid red;
  width: 34.41vw;
  height: 21.57vh;
  margin-left: 1.31vw;
  margin-top: 2.41vh;
  /* position: absolute; */
  border-radius: 0.83vh;
}

.P-CSCF-class-content-title,
.S-CSCF-class-content-title,
.RTP-Proxy-class-content-title {
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  color: #83a79a;
}

.P-CSCF-class-content-field1,
.P-CSCF-class-content-field3 {
  width: 7.62vw;
  height: 1.94vh;
  margin-left: 5.51vw;
  /* border: 1px solid red; */
  border-radius: 0.83vh;
}

.P-CSCF-class-content-field2 {
  border: 1px solid red;
  width: 28.82vw;
  height: 5.69vh;
  margin-left: 5.51vw;
  border-radius: 0.83vh;
}

.P-CSCF-class-content-field4 {
  border: 1px solid red;
  width: 28.95vw;
  height: 3.7vh;
  margin-left: 5.51vw;
  border-radius: 0.83vh;
}

.P-CSCF-class-content-field4-input1,
.P-CSCF-class-content-field4-input2,
.I-CSCF-class-content-input1,
.I-CSCF-class-content-input2,
.S-CSCF-class-content-input3,
.S-CSCF-class-content-input4 {
  height: 3.7vh;
  width: 11.61vw;
}

.S-CSCF-class-content-input3,
.S-CSCF-class-content-input4 {
  margin-top: 2.41vh;
}

/* .I-CSCF-class-content-input2 {
  right: 13px;
  position: absolute;
} */

/* .I-CSCF-class-content-input1 {
  right: 17.5vw;
  position: absolute;
} */

.private-memory,
.shared-memory {
  height: 3.7vh;
  width: 3.125vw;
  border: none;
  background-color: #f9f9f9;
  border-radius: 0.64vh;
}

.register-time {
  height: 3.7vh;
  width: 2.6vw;
  border: none;
  background-color: #eef5f2;
  border-radius: 0.64vh;
}

.P-CSCF-class-Rx-configuration {
  width: 29.01vw;
  height: 32.59vh;
  margin-left: 6.72vw;
  margin-top: 2.96vh;
  border-radius: 0.83vh;
  /* border: 0.092vh solid #d5e8e1; */
  border: 0.092vh solid red;
}

.P-CSCF-class-Rx-configuration-title {
  width: 6.14vw;
  height: 1.94vh;
  left: 0.94vw;
  top: 2.59vh;
  position: absolute;
  border-radius: 0.83vh;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.P-CSCF-class-Rx-configuration-field1 {
  /* border: 0.092vh solid red; */
  width: 19.43vw;
  height: 3.7vh;
  margin-left: 8.49vw;
  border-radius: 0.83vh;
}

.P-CSCF-class-Rx-configuration-field2 {
  /* border: 0.092vh solid red; */
  width: 19.63vw;
  height: 3.7vh;
  margin-left: 8.49vw;
  border-radius: 0.83vh;
}

.P-CSCF-class-Rx-configuration-field3 {
  /* border: 0.092vh solid red; */
  width: 19.43vw;
  height: 3.7vh;
  margin-left: 8.49vw;
  border-radius: 0.83vh;
}

.P-CSCF-class-Rx-configuration-field4 {
  /* border: 0.092vh solid red; */
  margin-left: 8.49vw;
  width: 19.32vw;
  height: 2.037vh;
  border-radius: 0.83vh;
}

.transport-protocol {
  width: 3.3vw;
  height: 2.037vh;
  border-radius: 0.83vh;
  background-color: red;
}

.P-CSCF-class-Rx-configuration-field5 {
  /* border: 0.092vh solid red; */
  margin-left: 8.49vw;
  width: 19.27vw;
  height: 3.7vh;
  border-radius: 0.83vh;
}

#Rx-Source-Port {
  width: 8.48vw;
  height: 3.7vh;
  background-color: #f9f9f9;
  border-radius: 0.64vh;
  border: none;
}

.P-CSCF-class-content-field2 p {
  margin-top: 0;
}

.general-class-content-field2-checkboxes {
  height: 2.037vh;
  width: 22.45vw;
  border: 1px solid red;
  margin-left: 5px;
}

.P-CSCF-class-content-field2-checkbox1 {
  border: 1px solid red;
  width: 4.68vw;
  height: 2.037vh;
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

.P-CSCF-class-content-field2-checkbox2 {
  border: 1px solid red;
  width: 6.94vw;
  height: 2.037vh;
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

.P-CSCF-class-content-field2-checkbox3 {
  border: 1px solid red;
  width: 8.92vw;
  height: 2.037vh;
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

.I-CSCF-class-content-title {
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  /* left: 1.31vw;
  position: absolute; */
}

/* .PCRF-IP-Address-boxes {
  display: flex;
} */

.rx-configuration-box {
  width: 12.03vw;
  height: 3.7vh;
  border-radius: 0.65vh;
  background-color: #eef5f2;
  border: none;
}

.I-CSCF-class {
  width: 36.35vw;
  height: 6.94vh;
  /* right: 2.083vw; */
  margin-top: 3.7vh;
  margin-left: 1.41vw;
  /* border: 0.092vh solid #d5e8e1; */
  border: 0.092vh solid red;
  /* position: absolute; */
  border-radius: 0.83vh;
}

.S-CSCF-class {
  width: 36.35vw;
  height: 13.33vh;
  /* right: 2.083vw;*/
  margin-top: 2.59vh;
  margin-left: 1.41vw;
  /* border: 0.092vh solid #d5e8e1; */
  border: 0.092vh solid red;
  /* position: absolute; */
  border-radius: 0.83vh;
}

.S-CSCF-class-content {
  width: 34.46vw;
  height: 9.81vh;
  /* left: 1.31vw;
  top: 1.75vh;
  position: absolute; */
  border-radius: 0.83vh;
  border: 1px solid red;
}

.S-CSCF-class-content-input1,
.S-CSCF-class-content-input2 {
  width: 12.81vw;
  height: 3.7vh;
  border-radius: 0.83vh;
  border: 1px solid red;
}

.RTP-Proxy-class-content {
  width: 35.04vw;
  height: 40.55vh;
  border: 1px solid red;
  /* right: 0vw;
  top: 2.4vh;
  position: absolute; */
}

.RTP-Proxy-class-content-title {
  top: 0;
  left: 0;
}

.RTP-Proxy-class-content-input1 {
  width: 29.5vw;
  height: 2.037vh;
  border: 1px solid red;
  margin-left: 5.31vw;
}

.RTP-Proxy-class-content-input1-checkbox {
  width: 4.81vw;
  height: 2.037vh;
  border: 1px solid red;
}

.RTP-Proxy-class-content-input2 {
  width: 7.57vw;
  height: 1.94vh;
  /* border: 1px solid red; */
  margin-left: 5.31vw;
}

.RTP-Proxy-class-content-input3 {
  width: 29.63vw;
  height: 6.2vh;
  margin-left: 5.31vw;
  /* border: 1px solid red; */
}

.RTP-Proxy-class-content-input4 {
  width: 29.63vw;
  height: 6.2vh;
  /* border: 1px solid red; */
  margin-left: 5.31vw;
}

.RTP-Proxy-class-content-input5 {
  width: 29.53vw;
  height: 3.7vh;
  margin-left: 5.31vw;
  /* border: 1px solid red; */
}

/* .RTP-Proxy-class-content-input5 .switch {
  left: 11.55vw;
  position: absolute;
} */

.RTP-Proxy-class-content-input6 {
  width: 29.53vw;
  height: 3.7vh;
  /* border: 1px solid red; */
  margin-left: 5.31vw;
}

#RTP-Loss-Timeout,
#Call-Duration,
.port {
  width: 4.58vw;
  height: 3.7vh;
  background-color: #f9f9f9;
  border: none;
  border-radius: 0.65vh;
}

.call-duration-label {
  margin-left: 15px;
}

.RTP-Proxy-Ports-title {
  width: 11.61vw;
  height: 1.94vh;
  margin-bottom: 5px;
}

.RTP-Proxy-Ports {
  width: 29.63vw;
  height: 3.7vh;
}

.RTP-Proxy-Ports input {
  margin-left: 7px;
}

.RTP-Proxy-class {
  width: 36.35vw;
  height: 45.09vh;
  /* right: 2.083vw;
  top: 29.166vh; */
  margin-top: 2.59vh;
  margin-left: 1.41vw;
  border: 0.092vh solid #d5e8e1;
  /* position: absolute; */
  border-radius: 0.83vh;
}

.information-save-button {
  width: 7.29vw;
  height: 3.7vh;
  right: 1.46vw;
  bottom: 3.24vh;
  position: absolute;
  border-style: none;
  border-radius: 0.65vh;
  background-color: #1f666e;
}

.information-edit-button {
  width: 7.29vw;
  height: 3.7vh;
  right: 9.68vw;
  bottom: 3.24vh;
  position: absolute;
  border-style: none;
  border-radius: 0.65vh;
  background-color: #1f666e;
}

button {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}
