.ims-body {
  background-color: rgba(0, 0, 0, 0.04);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-body {
  height: 100%;
  flex: 1;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #f9f9f9;
  flex: 1;
}

/* ////////////////////////////////////////////////////toolbar styles ///////////////////////////////////////////////////*/

.toolbar {
  height: 5.92vh;
  width: 100%;
  background-color: white;
}

.toolbar-nav-content {
  width: 23.62vw;
  height: 2.77vh;
  margin-left: 57vw;
  margin-top: 1.57vh;
  display: flex;
  justify-content: space-between;
}

.toolbar-nav-content img {
  width: 1.56vw;
  height: 2.77vh;
}

/*/////////////////////////////////// sidebar styles///////////////////////////////////////////////// */

.sidebar {
  width: 15.1vw;
  height: 100%;
  background-color: #1a4348;
}

.sidebar-account-info {
  width: 6.977vw;
  height: 12.96vh;
  margin-top: 8.33vh;
  margin-left: 4.088vw;
  border-bottom: 0.092vh solid rgba(255, 255, 255, 0.25);
}

.sidebar-account-info-image {
  width: 3.33vw;
  height: 5.93vh;
}

.sidebar-account-info-name {
  width: 4.79vw;
  height: 3.79vh;
}

.sidebar-account-info-name span {
  font-size: 1.296vh;
  font-family: "FiraGO", sans-serif;
  line-height: 1.76vh;
}

.sidebar-account-info-username {
  color: #a6d4c4;
  text-align: right;
  width: 3.23vw;
  height: 1.76vh;
}

.sidebar-account-info-Saleh-username {
  color: #ffffff;
  width: 4.79vw;
  height: 1.76vh;
}

.sidebar-logo {
  width: 6.98vw;
  height: 8.24vh;
  margin-left: 4.06vw;
  margin-top: 12vh;
}

.sidebar-logo img {
  width: 100%;
  height: 100%;
}

.sidebar-button {
  background-color: #68d5b0;
  width: 9.58vw;
  height: 3.7vh;
  margin-top: 6vh;
  margin-left: 3.64vw;
  color: white;
  font-size: 1.66vh;
  border-radius: 7px;
  border: none;
}

.sidebar-topology-icon {
  width: 100%;
  height: 7.13vh;
  margin-top: 9.81vh;
}

/* .sidebar-selected-icon {
  height: 7.13vh;
  width: 0.625vw;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #68d5b0;
} */

.sidebar-topology-icon-content {
  width: 6.38vw;
  height: 2.77vh;
  margin-left: 3.72vw;
}

.sidebar-configuration-icon-content {
  width: 8.88vw;
  height: 4.12vh;
  margin-left: 3.28vw;
}

.sidebar-monitoring-icon-content {
  width: 7.18vw;
  height: 2.77vh;
  margin-left: 3.72vw;
}

.sidebar-icons {
  width: 100%;
  height: 7.13vh;
  margin-top: 20px;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  color: white;
}

.sidebar-troubleshooting-icon-content {
  width: 9.89vw;
  height: 2.77vh;
  margin-left: 3.42vw;
}

.sidebar-icons span {
  color: white;
  font-size: 1.48vh;
  padding-left: 5px;
  font-family: "FiraGO", sans-serif;
  text-align: center;
}

.sidebar-configuration-icon-image {
  width: 2.31vw;
  height: 4.12vh;
}

.sidebar-configuration-icon-image + span {
  padding-left: 1px;
}

.sidebar-image {
  height: 2.77vh;
  width: 1.56vw;
}

.sidebar a {
  text-decoration: none;
}

/* ////////////////////////////////////// footer styles /////////////////////////////////////////////////////*/
.footer {
  background-color: white;
  width: 100%;
  height: 4.63vh;
}

#time-box {
  width: 13.32vw;
  height: 3vh;
  margin-left: 67vw;
  margin-top: 0.78vh;
  border-left: 0.046vh solid #83a79a;
  border-right: 0.046vh solid #83a79a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time-content {
  width: 10.46vw;
  height: 1.76vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time-content span {
  color: #83a79a;
  font-size: 1.58vh;
  font-family: "FiraGO", sans-serif;
}

/* //////////////////logout styles //////////////////*/

.log-out {
  display: none;
  width: 20.31vw;
  height: 20.01vh;
  right: 3.96vw;
  top: 5.37vh;
  position: absolute;
  z-index: 1;
}

.triangle {
  width: 0;
  height: 0;
  border: 0.49vw solid transparent;
  border-top: 0;
  border-bottom: 1.32vh solid #1f666e;
  float: right;
  margin-right: 4.125vw;
}

.log-out-content {
  width: 18.48vw;
  height: 17.037vh;
  margin: 0 auto;
  margin-top: 1.29vh;
  background-color: #1f666e;
  border-radius: 1.38vh;
}

.toolbar-buttons {
  width: 15.73vw;
  height: 3.15vh;
  margin-bottom: 10px;
}

.toolbar-button {
  width: 6.77vw;
  height: 3.15vh;
  border-radius: 0.65vh;
  border: none;
  color: white;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

#log-out-cancel-button {
  background-color: #313f68;
  opacity: 100%;
}

#log-out-confirm-button {
  background-color: #ff8946;
  opacity: 100%;
}

.log-out-title,
.log-out-question {
  color: white;
  font-size: 1.5vh;
  font-family: "FiraGO", sans-serif;
}

.log-out-title {
  margin-top: 10px;
}

/* ///////////  profile styles //////////// */

.profile {
  position: absolute;
  width: 18.49vw;
  height: 45.86vh;
  right: 4.68vw;
  top: 5.53vh;
  z-index: 1;
  display: none;
}

.profile-triangle {
  margin-right: 6.2vw;
}

.profile-content {
  width: 18.49vw;
  height: 44.72vh;
  right: 0vw;
  bottom: 0vh;
  border-radius: 1.38vh;
  background-color: #1f666e;
  position: absolute;
}

.profile-description {
  margin-left: 1.3vw;
}

.default-user {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.default-user span {
  margin-left: 12px;
}

.default-user img {
  float: left;
}

.user-label {
  color: #58cc87;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 5px;
}

.profile-text {
  color: white;
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 0;
}

.profile-content-images {
  width: 16.2vw;
  height: 28.79vh;
  margin-top: 3px;
  margin-left: 1.3vw;
  display: grid;
  grid-row-gap: 0.83vw;
  grid-column-gap: 1.48vh;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.profile-footer {
  width: 17.39vw;
  height: 1.76vh;
  margin-left: 0.57vw;
}

.profile-content-images img {
  width: 4.5vw;
  height: 8.3vh;
}

.profile-footer img {
  width: 0.98vw;
  height: 1.76vh;
}

/* ////////////////////////////////////////////////////toolbar styles ///////////////////////////////////////////////////*/

/* 
.exit {
  display: none;
  width: 20.31vw;
  height: 20.01vh;
  right: 1.01vw;
  top: 5.37vh;
  position: fixed;
  z-index: 1;
}

.exit-content {
  width: 18.48vw;
  height: 17.037vh;
  right: 0.73vw;
  top: 1.29vh;
  position: absolute;
  background-color: #374775;
  border-radius: 1.38vh;
}

.toolbar-cancel-button {
  background-color: #313f68;
  opacity: 100%;
}

.exit-staying {
  color: white;
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  right: 6.56vw;
  bottom: 12.41vh;
  position: absolute;
  margin-bottom: 0;
}

.exit-question {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  right: 4.53vw;
  bottom: 8.79vh;
  position: absolute;
  margin-bottom: 0;
}

 */

/*
.profile-triangle {
  right: 6.6vw;
}
 */

/* .log-out-buttons {
  width: 15.73vw;
  height: 3.15vh;
  right: 1.4vw;
  bottom: 2.96vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
} */

/* .log-out-confirm-button,
.log-out-cancel-button {
  width: 6.77vw;
  height: 3.15vh;
  border-radius: 0.65vh;
  background-color: #ff8946;
  border: none;
  color: white;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
} */

/* .log-out-cancel-button {
  background-color: #313f68;
  opacity: 100%;
} */

/*
.profile {
  position: fixed;
  width: 18.49vw;
  height: 45.86vh;
  right: 4.68vw;
  top: 5.53vh;
  z-index: 1;
  display: none;
}

.profile-content {
  width: 18.49vw;
  height: 44.72vh;
  right: 0vw;
  bottom: 0vh;
  border-radius: 1.38vh;
  background-color: #374775;
  position: absolute;
}

.profile-content-images {
  width: 16.2vw;
  height: 28.79vh;
  right: 1.14vw;
  bottom: 3.79vh;
  position: absolute;
  display: grid;
  grid-row-gap: 0.83vw;
  grid-column-gap: 1.48vh;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.profile-footer {
  width: 17.39vw;
  height: 1.76vh;
  right: 0.57vw;
  bottom: 0.94vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.profile-footer img {
  width: 0.98vw;
  height: 1.76vh;
}

.saleh {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  left: 1.48vw;
  top: 0.93vh;
  position: absolute;
  margin-top: 5px;
}

.saleh span {
  margin-left: 12px;
}

.saleh img {
  float: left;
}

.user {
  left: 3.021vw;
  bottom: 38.61vh;
  position: absolute;
  color: #58cc87;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 0;
}

.made {
  left: 3.021vw;
  bottom: 36.48vh;
  position: absolute;
  color: white;
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 0;
}

.last {
  left: 3.021vw;
  bottom: 34.35vh;
  position: absolute;
  color: white;
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 0;
}

.profile-content-images img {
  width: 4.84vw;
  height: 8.61vh;
}

.sound {
  width: 6.27vw;
  height: 3.85vh;
  right: 14.58vw;
  top: 5.21vh;
  position: fixed;
  z-index: 1;
  display: none;
}

.sound-triangle {
  width: 0;
  height: 0;
  border: 0.34vw solid transparent;
  border-top: 0;
  border-bottom: 0.93vh solid #374775;
  top: 0vh;
  right: 2.9vw;
  position: absolute;
}

.sound-content {
  width: 6.27vw;
  height: 3.05vh;
  bottom: 0vh;
  position: absolute;
  background-color: #374775;
  color: white;
  font-size: 1.11vh;
  font-family: "FiraGO", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* /////////////////////////////////////////////////////// error styles///////////////////////////////////////////// */

.show-error {
  z-index: 1;
  width: 20.83vw;
  height: 9.26vh;
  right: 4.166vw;
  bottom: 7.41vh;
  position: absolute;
  border-radius: 0.65vh;
  display: none;
}

.error-close-icon {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: end;
  margin-right: 15px;
  cursor: pointer;
}

#error-content {
  width: 100%;
  height: 20px;
}

#error-message {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 0;
  margin-left: 3px;
}

#erroe-message:first-letter {
  text-transform: uppercase;
}

.error-icon {
  width: 1.042vw;
  height: 1.85vh;
  margin-left: 20px;
}

/* ////////////////////////////////////////General checkboxes styles////////////////////////////////// */
.chb {
  visibility: hidden;
}

.chb + label {
  position: relative;
  padding-right: 1px;
}

.chb-1 + label::before {
  position: absolute;
  width: 0.91vw;
  height: 1.75vh;
  background-color: #e9e9e9;
  border-radius: 0.37vh;
  content: "";
  border: 0.093vh solid #707070;
  left: -20px;
}

.chb-1-circle + label::before {
  position: absolute;
  width: 0.91vw;
  height: 1.75vh;
  background-color: #e9e9e9;
  border-radius: 50%;
  content: "";
  border: 0.093vh solid #707070;
  left: -20px;
}

.chb-1:checked + label::before,
.chb-1-circle:checked + label::before {
  background-color: #68d5b0;
}

.radio-label,
.checkbox-label {
  color: #1a4348;
  font-size: 1.5vh;
  font-family: "FiraGO", sans-serif;
}

/* ///////////////////////////////////////// slider styles///////////////////////////////////// */
.switch {
  position: relative;
  display: inline-block;
  width: 1.77vw;
  height: 1.66vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #68d5b0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.972vh;
  width: 0.546vw;
  left: 0.156vw;
  bottom: 0.277vh;
  border: 0.138vh solid white;
}

input:checked + .slider,
input:checked + .slider:before {
  background-color: #68d5b0;
}

input + .slider,
input + .slider:before {
  background-color: #ff8888;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.83vw);
  -ms-transform: translateX(0.83vw);
  transform: translateX(0.83vw);
}

.slider.round {
  border-radius: 3.14vh;
}

.slider.round:before {
  border-radius: 50%;
}

/*/////////////////////////// General Network Configs////////////////////////////////// */
.ip-octet {
  width: 2.604vw;
  height: 3.7vh;
  border-radius: 0.65vh;
  background-color: #eef5f2;
}

.ims-button {
  width: 7.29vw;
  height: 3.7vh;
  border-style: none;
  border-radius: 0.65vh;
  background-color: #1f666e;
  color: white;
  text-align: center;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.node-name-box {
  width: 10.42vw;
  height: 3.7vh;
  border-radius: 0.65vh;
  background-color: #eef5f2;
  border: none;
}

input[type="text"] {
  text-align: center;
  color: #2fbc8c;
  border: none;
  font-family: "FiraGO", sans-serif;
}
