.monitoring-content {
  width: 18.33vw;
  height: 11.76vh;
  background-color: brown;
}

.monitoring-button {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  width: 9.58vw;
  height: 3.7vh;
  background-color: #1f666e;
  border: none;
  border-radius: 7px;
}

.main-content {
  width: 78.75vw;
  height: 84.26vh;
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 1.85vh;
}
